.big-card-container{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
    margin-top: 0;
}


.big-card-title h1{
    font-size: 20px;
    margin-top: 10px;
}

.big-card-image img{
    width: 100%;
    min-width: 400px;
}

.big-card-description{
    margin-top: 10px;
}
.big-card-description p a{
    color: gray;
}