.container-title{
    color: white;
}


.container-title > h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 145px;
    display: flex;
    justify-content: center;
}

.container-title hr{
    border: 1px solid rgb(240, 116, 0);
    margin-top: 25px;
    margin-bottom: 25px;
}